@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-font-color: #FEF4E6;
    --secondary-font-color: #DC3635;
}

body {
    background-color: black;
}


.header_section {
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-image: url(../images/banner.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    max-width: 100%;

}

/* Navbar Section */

.nav_container {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 257px;

}

.logo {
    font-size: 40px;
}

.logo a {
    text-decoration: none;
    color: var(--primary-font-color);
}

.logo a span {
    color: var(--secondary-font-color);
    font-weight: 700;
}

.nav_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_menu button {
    max-width: 189px;
    height: 52px;
    background-color: var(--secondary-font-color);
    color: var(--primary-font-color);
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}

.nav_menu ul li {
    list-style: none;
    margin-right: 20px;
    font-size: 24px;
}

.nav_menu ul li a {
    text-decoration: none;
    color: var(--primary-font-color);

}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

/* Navbar End */

/* Header Contants */
.header_contents {
    font-family: "Montserrat", sans-serif;
    margin-top: 70px;
    padding: 35px 257px;

}

.header_contents h1 {
    font-size: 96px;
    color: var(--secondary-font-color);
    font-weight: 700;
}

.header_contents h4 {
    font-size: 40px;
    color: var(--primary-font-color);
    font-weight: 500;
}

.header_contents p {
    max-width: 50%;
    font-size: 24px;
    margin-top: 25px;
    color: var(--primary-font-color);
    font-weight: 500;
    text-align: justify;
}

.header_btn_container {
    margin-top: 38px;
}

.header_btn_container .hire_me_btn {
    width: 189px;
    height: 52px;
    border: none;
    margin-right: 38px;
    border-radius: 5px;
    font-size: 18px;
    color: var(--primary-font-color);
    background-color: var(--secondary-font-color);
    cursor: pointer;

}

.header_btn_container .contact_me_btn {
    width: 189px;
    height: 52px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: black;
    background-color: var(--primary-font-color);
    cursor: pointer;

}

/* About Section */
.about_section {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 35px 257px;
}

.about_contents {
    color: var(--primary-font-color);

}

.about_contents h1 {
    font-size: 55px;
}

.about_contents p {
    font-size: 24px;
    text-align: justify;
    margin: 20px 0px;
}

.skills_container {
    margin: 20px 0px;
}

.skills_container .skills_item h5 {
    font-size: 24px;
}

#ux_design {
    position: relative;
    max-width: 700px;
    height: 20px;
    margin: 20px 0px;
    background-color: var(--primary-font-color);
}

#ux_design p {
    width: 80%;
    height: 20px;
    background: var(--secondary-font-color);
}

#ux_design img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 90px;
    cursor: pointer;
}

#app_design {
    position: relative;
    max-width: 700px;
    height: 20px;
    margin: 20px 0px;
    background-color: var(--primary-font-color);
}

#app_design p {
    width: 70%;
    height: 20px;
    background: var(--secondary-font-color);
}

#app_design img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 145px;
    cursor: pointer;
}

#graphic_design {
    position: relative;
    max-width: 700px;
    height: 20px;
    margin: 20px 0px;
    background-color: var(--primary-font-color);
}

#graphic_design p {
    width: 80%;
    height: 20px;
    background: var(--secondary-font-color);
}

#graphic_design img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 90px;
    cursor: pointer;
}

#web_design {
    position: relative;
    max-width: 700px;
    height: 20px;
    margin-top: 20px;
    background-color: var(--primary-font-color);
}

#web_design p {
    width: 90%;
    height: 20px;
    background: var(--secondary-font-color);
}

#web_design img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40px;
    cursor: pointer;
}

/* services section */
.services_serction {
    font-family: "Montserrat", sans-serif;
    padding: 35px 257px;
    margin: 50px 0px;
}

.services_serction>h2 {
    text-align: center;
    font-size: 55px;
    color: var(--primary-font-color);
}

.services_serction>p {
    text-align: center;
    font-size: 24px;
    color: var(--primary-font-color);
}

.services_items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 60px 0px;

}

/* Services Card */
.services_item {
    width: 327px;
    height: 350px;
    padding: 25px;
    border-radius: 10px;
    color: black !important;
    background-color: var(--primary-font-color);
}

.services_item img {
    max-width: 100%;
}

.services_item h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 20px 0px;
    cursor: pointer;
}

.services_item p {
    font-size: 18px;
    text-align: justify;
}

/* Navbar Responsive Code */
@media (max-width:768px) {
    .nav_menu {
        border-radius: 10px;
        background-color: black;
        opacity: 80%;
        padding: 20px 0;
    }

    #download_cv_btn {
        opacity: 100%;
    }

    .header_section {
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .nav_container {
        padding: 35px 20px;
    }

    .nav_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 80px;
        left: 0;

    }

    .nav_menu ul {
        flex-direction: column;
        align-items: center;
    }

    .nav_menu ul li {
        margin: 10px 0;
    }

    .nav_container div.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}

@media (max-width:768px) {
    .header_contents {
        font-family: "Montserrat", sans-serif;
        margin-top: 10px;
        padding: 15px 15px;

    }

    .header_contents h1 {
        font-size: 40px;
    }

    .header_contents h4 {
        font-size: 25px;
    }

    .header_contents p {
        max-width: 100%;
    }

    .header_btn_container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

/* About Responsive Code */
@media(max-width:768px) {
    .about_section {
        flex-direction: column;
    }

    .about_section {
        font-family: "Montserrat", sans-serif;
        margin-top: 10px;
        padding: 15px 15px;
    }

    .about_contents h1 {
        font-size: 35px;
        text-align: center;
    }

    .about_contents p {
        font-size: 18px;
        text-align: justify;
        margin: 10px 0px;
    }

    #ux_design img {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 60px;
        cursor: pointer;
    }

    #app_design img {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 95px;
        cursor: pointer;
    }

    #graphic_design img {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 60px;
        cursor: pointer;
    }

    #web_design img {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 20px;
        cursor: pointer;
    }


    #about_img {}
}

/* Service Responsive Code */
@media (max-width:768px) {
    .services_serction {
        font-family: "Montserrat", sans-serif;
        margin-top: 10px;
        padding: 15px 15px;
    }

    .services_serction>h2 {
        font-size: 35px;
        text-align: center;
    }

    .services_serction>p {
        font-size: 18px;
        text-align: center;
        margin-top: 10px;
    }


    .services_items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin-left: 20px;

    }
}