@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-font-color: #FEF4E6;
    --secondary-font-color: #DC3635;
}

body {
    background-color: black;
}


.header_section {
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-image: url(../images/banner.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    max-width: 100%;

}

.nav_container {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 257px;

}

.logo {
    font-size: 40px;
}

.logo a {
    text-decoration: none;
    color: var(--primary-font-color);
}

.logo a span {
    color: var(--secondary-font-color);
    font-weight: 700;
}

.nav_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_menu button {
    max-width: 189px;
    height: 52px;
    background-color: var(--secondary-font-color);
    color: var(--primary-font-color);
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}

.nav_menu ul li {
    list-style: none;
    margin-right: 20px;
    font-size: 24px;
}

.nav_menu ul li a {
    text-decoration: none;
    color: var(--primary-font-color);

}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

/* Navbar Responsive Code */
@media (max-width:768px) {
    .header_section{
        height: 100vh;
        background-size: cover;
        background-repeat:no-repeat;
    }
    .nav_container {
        padding: 35px 20px;
    }
    .nav_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 80px;
        left: 0;
       
    }
    .nav_menu ul {
        flex-direction: column;
        align-items: center;
    }
    .nav_menu ul li {
        margin: 10px 0;
    }

    .nav_container div.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}